.preview{
    display: flex;
    width: 600px;
}

li{
    width: 200px;
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}

*{
    margin: 0;
    padding: 0;
}

.image-gallery{
    margin: 0 auto;
    width: 800px;
}